.portfolio__buttons {
  @extend %list;
  margin-bottom: 50px;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}

.portfolio__button--primary {
  @extend %button-primary;
  @extend %button;
  &:hover,
  &:focus {
    box-shadow: $button-portfolio-shadow;
    @extend %button-secondary;
  }
}
.portfolio__button--secondary {
  @extend %button-secondary;
  @extend %button;
  &:hover,
  &:focus {
    box-shadow: $button-portfolio-shadow;
    @extend %button-primary;
  }
}
