<<<<<<< HEAD
.auth-nav__container {
    margin-left: auto;
}
.auth-nav {
    @extend %list;
    gap: 50px;
}

.auth-nav__link {
    gap: 10px;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms $timing-function;
    &:hover,
    &:focus {
        color: $accent-text-color;
    }
}
.auth-nav__icon {
    fill: $primary-text-color;
    transition: fill 250ms $timing-function;
    .auth-nav__link:hover &,
    .auth-nav__link:focus & {
            fill: $accent-text-color;
        }
}
=======
.auth-nav__container {
    margin-left: auto;
}
.auth-nav {
    @extend %list;
    display: flex;
    gap: 50px;
}

.auth-nav__link {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms $timing-function;
    &:hover,
    &:focus {
        color: $accent-text-color;
    }
}
.auth-nav__icon {
    fill: $primary-text-color;
    transition: fill 250ms $timing-function;
    .auth-nav__link:hover &,
    .auth-nav__link:focus & {
            fill: $accent-text-color;
        }
}
>>>>>>> fb5653a2fba59a35c925db884d7bf2b81a2ffacf
